body {
     background-color: rgba(1, 1, 1, 0.894);
}

* {
     list-style: none;
     border: none;
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-size: medium;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
     color: #cccccc;
}

.span {
     color: red;
}