body {
     background-color: rgba(1, 1, 1, 0.894);
}

* {
     list-style: none;
     border: none;
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-size: medium;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     user-select: none;
}

h1 {
     color: rgba(218, 57, 57, 0.692);
     margin:2rem 0  1rem 0;
     font-size: larger;
}


.schedule {
    height: 4rem;
}
.schedule h2 {
     color: #fff;
     font-size: 18pt;
     text-indent: 1rem;
}
main {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: 0 auto;
     width: 50vw;
     height: 70vh;
}
.div-container {
    position: relative;
     display: flex;
     width: 100%;
     margin-bottom: 0.1rem;
}
.input, #event-time, label {
     border: 2px solid #ccc;
     transition: all 500ms;
}
.input:hover, #event-time:hover {
    border: 2px solid #666;
}
.div-container .input, #button {
     width: 16rem;
     border-radius: 5px;
     font-size: 16pt;
     padding: .4rem;
}
.span {
     color: rgb(237, 67, 67);
     position: absolute;
     right: -0.8rem;
     top: .3rem;
}
label {
      border-right: none;
      color: rgb(79, 79, 79)
}
#time label {
  background-color: white;
  width: 35%;
  border-radius: 5px 0px 0px 5px ;
}
#event-time {
      width: 70%;
      height: 2rem;
      border-radius: 2px;
      border-left: none;
}
#button {
     background-color: rgba(0, 0, 0, 0.509);
     color: rgba(204, 204, 204);
     font-weight: 500;
     padding: .8rem;
     transition: all 500ms;
}
#button:hover {
     background-color: rgba(0, 0, 0, 0.937);
     color: #ccc;
}

#alert-message {
      color: rgb(238, 36, 36);
      font-size: smaller;
      margin-left: 2.7rem;
     
}