body {
     background-color: rgba(1, 1, 1, 0.894);
}

* {
     list-style: none;
     border: none;
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-size: medium;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     user-select: none;
}

h1 {
     color: rgba(218, 57, 57, 0.692);
     margin:2rem 0  1rem 0;
     font-size: larger;
}

.schedule {
    height: 4rem;
}
.schedule h2 {
     color: #fff;
     font-size: 18pt;
     text-indent: 1rem;
}
main {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: 0 auto;
     width: 50vw;
     height: 70vh;
}
.div-container {
    position: relative;
     display: flex;
     width: 100%;
     margin-bottom: 0.1rem;
}
.input {
     border: 2px solid #ccc;
     transition: all 500ms;
}
.input:hover {
    border: 2px solid #666;
}
.div-container .input, #button {
     width: 16rem;
     border-radius: 5px;
     font-size: 16pt;
     padding: .4rem;
}
.span {
     color: red;
     position: absolute;
     right: -0.8rem;
     top: .3rem;
}
#button {
     background-color: rgba(0, 0, 0, 0.509);
     color: rgba(204, 204, 204, 0.58);
     transition: all 500ms;
     font-weight: 500;
}
#button:hover {
     background-color: rgba(0, 0, 0, 0.847);
     color: #ccc;
}